*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
@media (max-width: 320px){
    .container{
        width: 100vw;
        height: 100vh;
        background-color: #141414;
        display: grid;
        place-items: center;
    }
    .container .container-main{
        width: 70%;
        height: 75%;
        background-color: #1f1f1f;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        border-radius: 10px;
    }
    figure img{
        border-radius: 50%;
        width: 70px;
    }
    .container .container-main h1{
        color: white;
        font-size: 2rem;
        font-weight: 500;
    }
    .container .container-main .direccion {
        margin-top: -5px;
        font-size: 1.1rem;
        color: #caeb5e;
        font-weight: 500;
    }
    
    .container .container-main .profesion{
        margin-top: 1px;
        font-size: 1rem;
        color: #ffffff;
        font-weight: 300;
        padding-top: 10px;
    }
    .container .container-main .boton{
        width: 94%;
        height: 33px;
        background-color: #333333;
        color: white;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
    
    }
}
